<p>The purpose of this complex form example is to show a non-trivial implementation of typical form elements using
  Angular and the new Alaska design system. In the code behind we are making using of <a
    href="https://angular.io/guide/reactive-forms"
    target="_blank">Reactive Forms</a></p>

<hr />

<form [formGroup]="formGroup"
  class="form">
  <alaska-input ngDefaultControl
    required
    type="text"
    formControlName="firstName"
    label="First Name">
  </alaska-input>
  <alaska-input ngDefaultControl
    required
    type="text"
    formControlName="middleName"
    label="Middle Name">
  </alaska-input>
  <alaska-input ngDefaultControl
    required
    type="text"
    formControlName="lastName"
    label="Last Name">
  </alaska-input>


  <p>
    Bug: Every child of form has a padding-bottom of 20. That makes some stuff like HRs look weird
  </p>

  <hr />

  <p>
    Bug: Radio Buttons Initial value of "no" not honored by default selection
  </p>

  <alaska-radio-group required
    formControlName="desert"
    ngDefaultControl>
    <span slot="legend">Desert</span>
    <alaska-radio id="radio10"
      label="Yes"
      name="desert"
      value="yes"></alaska-radio>
    <alaska-radio id="radio11"
      label="No"
      name="desert"
      value="no"></alaska-radio>
    <alaska-radio id="radio12"
      label="Maybe"
      name="desert"
      value="maybe"></alaska-radio>
  </alaska-radio-group>

  <br />
  <hr /><br />

  <p>
    Bug: Checkbox data binding doesn't seem to work at all
  </p>


  <alaska-checkbox-group errorMessage=""
    label="Checkbox Group"
    [disabled]="false"
    [horizontal]="true"
    [error]="false">
    <alaska-checkbox ngDefaultControl
      formControlName="breakfast"
      id="breakfast"
      label="Breakfast"
      name="breakfast"></alaska-checkbox>
    <alaska-checkbox ngDefaultControl
      formControlName="lunch"
      id="lunch"
      label="Lunch"
      name="lunch"></alaska-checkbox>
  </alaska-checkbox-group>

  <hr />
  <div style="display:flex;flex-direction:row;gap:10px;padding:10px">
    <alaska-badge>Badge Text</alaska-badge>
    <alaska-badge success>Badge Text</alaska-badge>
    <alaska-badge error>Badge Text</alaska-badge>
    <alaska-badge warning>Badge Text</alaska-badge>
  </div>

</form>

<br />

<hr />
<pre class="form-output">
  First Name: {{ firstName.value }}
  Middle Name: {{ middleName.value }}
  Last Name: {{ lastName.value }}
  Desert: {{ desert.value }}
  Breakfast: {{ breakfast.value }}
  Lunch: {{ lunch.value }}
  </pre>